* {
 
    padding: 0;
    background-color: rgb(126, 168, 192);
}
body{
    color: rgb(24, 26, 27)
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background:rgb(19, 95, 126) ;
    height: 8vh;
}
.nav-list{
    display: flex;
    gap: 32px;
    list-style: none;
  }
  
  


     @media screen and (max-width:1020px){
        .nav-list{ display:none;
        }
    

    
    .medicamento{
        justify-content: space-around;
        align-items:center;
        width: 100px;
        padding: 20px 4%;
    }
@media screen and (min-width: 1728px) {
    .nav-list{ display:none;
}

.body{
    font-family:arial;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
}
@media screen and (min-width: 604px) and (max-width: 948px) {
    
}
@media screen and (min-width: 948px) {
    .rodapé {
        color: white;
        text-align: center;
        justify-content: center;
        margin: 50px 0px 0px 0px;
        background-color: rgb(0, 96, 206);
        display: flex;
        width: 100%;